h1 {
    text-align: center;
    color: #A43820;

}

.button {
    color: black;
    text-decoration: none;
    background: #A43820;
    display: list-item;
    text-align: center;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;

}