body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F1D3B2;
}
.container {
    text-align: center;
    background: #A43820;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    margin-bottom: 20px;
}
.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}
.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #46211A;
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}
.button:hover {
    background-color: #996600;
}
.button-guest {
    background-color: #4CAF50; /* Green */
}
.button-guest:hover {
    background-color: #45a049;
}